
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CookiesPage</title>
</head>
<body>
    <h1>@ViewBag.CookiesData</h1>
    <a href="/Home/CookiesClear">Clear Cookies</a>
</body>
</html>
